
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.display-flex{
  display: flex;
}
.bg-light{
   background-color: bisque;
}
/* dark 02 */
.text-gray{
  color: #424242;
}
/* dark03 */
.text-light-gray{
  color: #727272;
}
.navitem{
  list-style: none;
  margin-right: 50px;
}
.section-title{
  font-size: 2.8rem ;
  font-weight:700;
}
#quick{
  font-weight: 500;
}
#newcolor{
  color: #FF900E;
}
.navlink{
  text-decoration: none;
  font-weight: 500px;

}
.btn-primary{
  background-color:#FF900E ;
  color: white ;
  padding: 20px 25px;
  font-size: 1.25rem;
  border-radius: none;

}
main>section{
  margin-top:130px ;
}
.features{
  margin-left: 130px ;
  max-width: 530px;
}
main{
  max-width: 1440px;
  margin: 0 auto;
}
.brand{
  font-weight: 700;
  font-size: 3rem;
}
.teams{
  display: flex;
align-items: center;
}
.team-img-container{
  display: grid;
  grid-template-columns: repeat(2,1fr) ;
  gap: 24px;
}
.navbar{
 
justify-content: space-between;
align-items: center;
}
.navbar, .banner {
  max-width: 1440px;
  margin: 0 auto;
}
.banner-content{
  max-width: 850px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 50px ;
}
.banner-title{
  font-weight: 700;
  font-size: 4rem;
}
.banner-image{
  width: 100%;
}
.feature{
  gap: 140px ;
}
#feature-section-title{
  border-left: 5px solid #FF900E;
  padding: 21px;
}
.feature-card{
   padding: 30px;
  box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.06);
  margin-bottom: 20px;
  border-radius: 8px;
}

.feature-card , .feature-title{
  font-size: 1.25rem;
  font-weight:600 ;
  margin-bottom: 0px ;
  margin-top: 0px;
 
}
#experience-badge{
  padding: 45px 42px;
  font-size: 1.5rem;
  font-weight: 500;
  margin-left: -100px;
  margin-top:-100px;
}
#experience-year{
  font-size: 4rem;
  font-weight: 700;
}
.feature-architect img{
  width: 100%;
}
/* some fact */
.fact-card{
  border: 1px solid #FF900E;
  width: 240px;
  height: 240px;
  border-radius: 8px;
  align-items: center;
justify-content: center;
text-align: center;
}
.fact-container{
  display: grid;
  grid-template-columns: repeat(4,1fr);

}
.fact-number{
  font-size: 2.8rem;
  font-weight: 600;
  margin-top: 5px ;
  margin-bottom: 10px;
}
.fact-name{
  font-size: 1.25rem;
  font-weight: 600;
  margin-top: 10px ;

  

}
.fact-description{
max-width: 540px;
margin-bottom: 100px;
}
.sponsor-info{

  max-width: 540px;
  margin: 50px auto;
  text-align: center;
}
.sponsor-companies{
  display: grid;
  grid-template-columns: repeat(5,1fr);
}
.sponsor-companies img{
 filter: grayscale(100%);
}
footer{
 height: 100px;
 width: 1440px;
 margin: 50px auto;
justify-items: center;
align-content: center;



background-color:#FFF4E7 ;
}
@media screen and (max-width: 576px){

.navbar, .navlinks , .teams{
  flex-direction: column;
}
.team-img-container, .fact-container , .sponsor-companies , .feature{
  grid-template-columns: 1fr;
}
.fact-container {
  justify-items: center;
  gap: 24px;
}
.sponsor-companies{
  justify-items: center;
  gap: 50px
  ;
}
  .features{
    margin-left: 20px;
  }
#experience-badge{
  margin-top: 20px;
  margin-left: 20px;
}
}
@media screen and (min-width: 576px) and (max-width: 992px)  {
  .teams, .feature{
    flex-direction: column;

  }
  .features{
    margin-left: 50px auto;
  }
  .sponsor-companies{
    grid-template-columns: repeat(3,1fr);
  }
  #experience-badge{
  margin-top: 20px;
  margin-left: 20px;
}
}
